SUPABASE_URL=https://bauudfrihijqqgcjcbqm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhdXVkZnJpaGlqcXFnY2pjYnFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzQzMzgsImV4cCI6MjA5MDYxMDMzOH0.cnim8jdN5nOBfSGKdpTmXT31CPsEzcn--dxaTt69t1M
TELEGRAM_BOT_TOKEN=your-bot-token
PROXY_LIST=http://proxy1:port,http://proxy2:port
PORT=3001
